@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?fx0kmm');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?fx0kmm#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?fx0kmm') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?fx0kmm') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?fx0kmm##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ic-"], [class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-angle-up {
  &:before {
    content: $ic-angle-up; 
  }
}
.ic-angle-down {
  &:before {
    content: $ic-angle-down; 
  }
}
.ic-angle-right {
  &:before {
    content: $ic-angle-right; 
  }
}
.ic-angle-left {
  &:before {
    content: $ic-angle-left; 
  }
}
.ic-left {
  &:before {
    content: $ic-left; 
  }
}
.ic-right {
  &:before {
    content: $ic-right; 
  }
}
.ic-filter {
  &:before {
    content: $ic-filter; 
  }
}
.ic-filter-rounded {
  &:before {
    content: $ic-filter-rounded; 
  }
}
.ic-filter-fill {
  &:before {
    content: $ic-filter-fill; 
  }
}
.ic-light-mode {
  &:before {
    content: $ic-light-mode; 
  }
}
.ic-light-mode-fill {
  &:before {
    content: $ic-light-mode-fill; 
  }
}
.ic-dark-mode {
  &:before {
    content: $ic-dark-mode; 
  }
}
.ic-dark-mode-fill {
  &:before {
    content: $ic-dark-mode-fill; 
  }
}
.ic-sort-down {
  &:before {
    content: $ic-sort-down; 
  }
}
.ic-sort-up {
  &:before {
    content: $ic-sort-up; 
  }
}
.ic-sort {
  &:before {
    content: $ic-sort; 
  }
}
.ic-search {
  &:before {
    content: $ic-search; 
  }
}
.ic-search-fill {
  &:before {
    content: $ic-search-fill; 
  }
}

