$icomoon-font-family: "Jm-Icons" !default;
$icomoon-font-path: "fonts" !default;

$ic-angle-up: unquote('"\\e916"');
$ic-angle-down: unquote('"\\e917"');
$ic-angle-right: unquote('"\\e918"');
$ic-angle-left: unquote('"\\e919"');
$ic-left: unquote('"\\e91a"');
$ic-right: unquote('"\\e91b"');
$ic-filter: unquote('"\\e947"');
$ic-filter-rounded: unquote('"\\e947"');
$ic-filter-fill: unquote('"\\e948"');
$ic-light-mode: unquote('"\\e94f"');
$ic-light-mode-fill: unquote('"\\e950"');
$ic-dark-mode: unquote('"\\e951"');
$ic-dark-mode-fill: unquote('"\\e952"');
$ic-sort-down: unquote('"\\e9c4"');
$ic-sort-up: unquote('"\\e9c5"');
$ic-sort: unquote('"\\e9c5"');
$ic-search: unquote('"\\e9fd"');
$ic-search-fill: unquote('"\\e9fd"');

